<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>PupBuddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div th:replace="fragments/navbar :: navbar"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" id="left-side">
        <p class="h4">Welcome, </p><hr>
        <p th:text="${human}"! />
          <form>
            <img class="img-responsive" src="user.PNG" alt="pet #1">
          </form>
      </div>
      <div class="col-sm-4">
        <p class="h4">Edit your user settings</p><hr>
        <form action="#" th:action="@{saveHuman}" th:object="${human}" method="GET">
          <div class="form-group">
            <label for="userNameInput">User's Name:</label>
            <input class="form-control" id="userNameInput" th:field="*{userNameInput}">
            </select>
            <label for="userPicture">User's Picture:</label>
            <input type="file" class="form-control" id="userPicture" th:field="*{userPicture}">
          </div>
          <button type="submit" class="btn btn-info mx-auto"style="width:200px">Save Settings</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>